body    {
  overflow-y:scroll;
}
.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

a {
  text-decoration: none;
}

.cell {
  word-break: normal !important;
}

.partDetailPanel td {
  border: 0px !important;
}
.partDetailPanel .el-table {
  border: 0px !important;
  background-color: transparent !important;
}
.partDetailPanel tr {
  background-color: transparent !important;
}
.partDetailPanel .el-table::before {
  height: 0px !important;
}
.partDetailPanel .el-table::after {
  width: 0px !important;
}

a {
  color: #20a0ff;
}

.link {
  color:#20a0ff;
  cursor: pointer;
}
.message-bar.error {
  background-color: #ff7777;
}